[submodule "IrcConnector"]
	path = IrcConnector
	url = http://github.com/megabouncer/IrcConnector
[submodule "prometheus_scraper"]
	path = prometheus_scraper
	url = https://github.com/MegaBouncer/prometheus_scraper
[submodule "TcpConnector"]
	path = TcpConnector
	url = http://github.com/megabouncer/TcpConnector
[submodule "DataStore"]
	path = DataStore
	url = http://github.com/megabouncer/DataStore
[submodule "libs/shared"]
	path = libs/shared
	url = http://github.com/megabouncer/RustShared
[submodule "Server"]
	path = Server
	url = http://github.com/megabouncer/Server
